body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-1 {
  margin: auto;
  width: 50%;
}
.header {
  text-align: center;
}

.pure-table {
  text-align: center;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color: #0066ff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.teste {
  display: inline-block;
}
.form-login {
  text-align: center;
}
